body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/public/images/South-Africa-e1634206886542.jpg.optimal.jpg'); /* Replace with your image URL */
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.skip {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.content {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
}

.footer {
    text-align: center;
}

.get-started {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.footer p {
    margin-top: 10px;
}